@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Heart";
}

<h1>@ViewBag.bodySection</h1>
<div>@Html.Raw(ViewBag.description)</div>
<h3>Sections</h3>
<div>
    <ul>
        @foreach (var sect in ViewBag.mainsections)
        {
            <li>@sect</li>
        }
    </ul>
</div>