@model AnatomyAPI.Models.Member

@{
    ViewBag.Title = Model.Name;
    ViewBag.ShowBackBar = true;
}

<h1>@Model.Name</h1>
<div>@Html.Raw(Model.Description)</div>
<h3>Sections</h3>
<div>
    <ul>
        @foreach (var sect in Model.Sections)
        {
            <li>@sect</li>
        }
    </ul>
</div>