@model AnatomyAPI.Models.Member[]

@{
    ViewBag.Title = "Member Index";
}

<h2>Member List</h2>

<div class="row">
    @foreach (var member in Model)
    {
        <div class="col-md-3">
            <h4>@member.Name</h4>
        </div>
    }
</div>